<p>
  <b>Name:</b>
  <%=h @class_location.name %>
</p>

<p>
  <b>Address 1:</b>
  <%=h @class_location.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%=h @class_location.address_2 %>
</p>

<p>
  <b>City:</b>
  <%=h @class_location.city %>
</p>

<p>
  <b>State:</b>
  <%=h @class_location.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @class_location.zip %>
</p>

<p>
  <b>Description:</b>
  <%=h @class_location.description %>
</p>


<%= link_to 'Edit', edit_class_location_path(@class_location) %> |
<%= link_to 'Back', class_locations_path %>